[2014-04-24 18:14] nateirwin opened #12 "Bring in coastlines from the NPS dataset"

[2014-05-05 16:14] nateirwin opened #14 "Move Park Tiles preview to nps.gov/maps"

[2014-05-30 19:36] makella opened #33 "Create POI layer for Park Tiles Imagery"

[2014-06-05 19:14] makella opened #35 "update doc from old park tiles"
http://www.nps.gov/npmap/support/tutorials/using-park-tiles.html

[2014-08-18 16:12] jimmyrocks opened #81 "Add functionality to verify new additions from IRMA"
We will need to look at which parks are new since the last time this was run
this shouldn't be too hard as long as we are keeping the parks table in cartodb up to date

[2014-08-19 18:16] MappingKat opened #83 "Some labels might need additional NP or NHP"
![screen shot 2014-08-19 at 12 15 27 pm](https://cloud.githubusercontent.com/assets/1077436/3970684/e07420ce-27cc-11e4-93ab-4369f337a29b.png)

[2014-08-24 22:23] tpcolson opened #92 "Park Boundaries get wonky on zoom in....."
Glenn Canyon...
http://www.nps.gov/npmap/park-tiles/#11/37.9456/-110.1888
Then...
http://www.nps.gov/npmap/park-tiles/#13/38.0184/-110.0827
Then...
http://www.nps.gov/npmap/park-tiles/#14/38.0199/-110.0508

Note how a block of the boundary detaches itself?

![image](https://cloud.githubusercontent.com/assets/5861784/4024855/ed9b1578-2bdc-11e4-914c-17ab8edc2f7c.png)

Smokies

http://www.nps.gov/npm

[2014-09-08 14:33] makella opened #98 "Park Tiles Interface on mobile"
When viewing Park Tiles on a mobile device, the black bar on the side takes up the majority of the screen real estate.  In addition, text in the black bar is getting wonky.  It would be nice to re-work the interface so the map gets the majority (if not all) of the screen real estate when viewed on mobile.

[2014-09-08 19:54] makella opened #99 "Label for Alcatraz"
Woah Alcatraz... we need to fix the minzoompoly for this park:

http://www.nps.gov/npmap/park-tiles/#12/37.8416/-122.3544

[2014-09-12 19:43] makella opened #101 "Check LAKE boundary"
Doug Wilder was looking at the LAKE bnd on Park Tiles in comparison with some BLM wilderness bnd data.  The two bnds did not match on Park Tiles in one area on the eastern side of the park (see url below).  He compared the BLM data with Roger Johnson's park bnd data service and it looks like that boundary matched up with the BLM data in that one area.

http://www.nps.gov/npmap/park-tiles/#13/36.37

[2014-10-01 21:30] nateirwin opened #102 "Look into switching Park Tiles from .png to .jpg90 by default"

[2014-10-07 22:12] nateirwin opened #104 "Update CATO and PWRI boundaries"

[2014-10-10 15:17] nateirwin opened #105 "Render parking lots"
I think we should start rendering parking lots. There are quite a few in OpenStreetMap that aren’t being rendered in Park Tiles (http://www.nps.gov/npmap/park-tiles/#19/38.22098/-80.89441), and important context is lost because of it.

Not sure if this is a Mapbox Streets problem or something we need to do in our CartoCSS.

[2014-10-14 17:09] nateirwin opened #109 "Look into labeling Alibates Flint Quarries National Monument sooner"
From a user of the Texas state page: They said they cannot find Alibates Flint Quarries National Monument on the map. It is there, but its much larger neighbor (Lake Meredith National Recreation Area) is “overrunning” it.

Not sure what, if anything, we can do here, but thought we might want to take a look.

![texas__u_s__national_park_service_](https://cloud.githubusercontent.com/assets/10443/463

[2014-10-14 17:21] nateirwin opened #110 "Label Cumberland Gap one zoom level sooner"
Feedback from a Kentucky state page user: Can we label Cumberland Gap one zoom level sooner than what it is currently being labeled at?

![kentucky__u_s__national_park_service_](https://cloud.githubusercontent.com/assets/10443/4633341/81aa97b4-53c6-11e4-8d58-94ebbed3e44e.png)

[2014-10-17 13:27] johnpauls opened #111 "Label long parks multiple times?"
Would it be possible to label long and narrow parks, such as the C&O Canal and the Blue Ridge Parkway more than once? As it stands, if you zoom in the label can end up far away from the field of view, and this could confuse users who are not familiar with the park boundaries.

[2014-10-28 13:58] johnpauls opened #116 "Piscataway Park is drawn twice"
The west side of Piscatway Park is drawn twice on Park Tiles. It is in Maryland, south of Washington DC, along the Potomac River. You may have it once as "Piscataway Park" and once as "Marshall Hall"

![image](https://cloud.githubusercontent.com/assets/5996979/4809293/39ad3efa-5eaa-11e4-82d8-d345092928f2.png)

[2014-10-28 18:12] jimmyrocks opened #117 "Redefine NACE"
Our dataset for The National Capital Region East needs some cleanup.

This is our current (Oct 28, 2014) dataset:
http://bl.ocks.org/d/66bee8ccbf19f1ebf721

See @johnpauls' comment here:
https://github.com/nationalparkservice/park-tiles/issues/116

[2014-10-28 18:45] nateirwin opened #118 "Manzanar should get full label sooner"
http://www.nps.gov/npmap/park-tiles/#15/36.7270/-118.1530

[2014-11-18 22:24] nateirwin opened #119 "Investigate labeling SLBE sooner"
A quote from an email sent to Web Services Division by SLBE’s Chief of Interpretation:

[2014-12-04 18:50] makella opened #120 "PARA boundary is missing"
http://www.nps.gov/para/index.htm

[2014-12-10 18:57] makella opened #121 "Update Mapbox Hillshade to V2"
https://www.mapbox.com/blog/terrain-mapbox-studio/

[2014-12-15 17:43] jimmyrocks opened #122 "Determine if there are alternative ways to do the land-clip mask"
Maybe we can move to Mapbox Terrain v2 and use CartoCSS to do something similar to the mask.

[2014-12-29 16:40] makella opened #123 "Label MABI in Vermont earlier and make sure acronym in MABI (not MOBI)"
If possible, let's label both SAGA and MOBI at the same zoom level.  If both can't fit, we should label MOBI before SAGA as it is Vermont's only national park while SAGA is a national historic site.

They would like both labeled if possible, but they are pretty close to each other at small zoom levels so maybe we can switch the labeling order in which they appear.

This is also an interesting thin

[2015-01-06 18:10] makella opened #124 "Update NEBE boundary"
Using Cara's updates to OSM.

[2015-01-06 18:11] jimmyrocks commented on #124
data:

{"type":"FeatureCollection","features":[{"geometry":{"type":"Polygon","coordinates":[[[-70.9238465,41.6329503],[-70.9213277,41.6331146],[-70.9212257,41.633704],[-70.9212192,41.6339889],[-70.921167,41.634582],[-70.9212879,41.6350908],[-70.921425,41.635684],[-70.9214678,41.6359361],[-70.9217736,41.6369637],[-70.922006,41.637626],[-70.922234,41.6375524],[-70.922624,41.637416],[-70.923073,41.63

[2015-01-07 22:24] makella commented on #104
Hi Nate,

Can you let us know where the updated boundary files are?

[2015-01-07 22:30] makella commented on #120
Working with Ryan Hodge to get the latest PARA boundary he is on furlough the week of 1/5/15 but will get back with us the week of 1/12/15 when he's back in the office.

[2015-01-07 22:32] makella commented on #101
I will contact Ryan Hodge about this boundary as well to see if he can provide us with the most up-to-date version.

[2015-01-07 22:39] makella commented on #104
Completed 10/15/14 by Jim.

[2015-01-07 22:39] #104 closed

[2015-01-07 23:13] #124 closed

[2015-01-07 23:14] makella opened #125 "CartoDB updated at date getting overwritten by CartoDB with NPS data updates"
Let's think of a solution for this possibly adding another field to our dataset for our own records.

[2015-01-07 23:16] makella opened #126 "Write out parks that have been updated each time Park Tiles boundaries are rerun"
Similar to what Roger Johnson does with his boundary updates it would be nice for us to have a page where people can go to see what boundaries were updated during a given time period.

[2015-01-14 02:06] nateirwin opened #127 "Wrong location for Upper Delaware"
Per user feedback:

    You have your Upper Delaware site located near the Vanderbilt site on the Hudson River here: http://www.nps.gov/state/ny/index.htm. The Delaware is the next watershed to the west and south. Please see attached.

![upper delaware location is wrong](https://cloud.githubusercontent.com/assets/10443/5732891/4ed721da-9b57-11e4-8e8d-d670718de731.PNG)

[2015-01-14 16:03] makella opened #128 "Move label for New Bedford Whaling"
Cara at New Bedford Whaling let me know today that the label for the park is right on top of New Bedford Whaling Museum.

If possible we should move this point as it seems to be causing them trouble when using the map.

[2015-01-22 22:33] makella commented on #120
From Ryan Hodge:

The most recent LAKE and GRCA boundaries are posted by the Lands Division on IRMA, the file was just updated in December 2014.

Polygons - https://irma.nps.gov/App/Reference/Profile/2218503

Centroids - https://irma.nps.gov/App/Reference/Profile/2218501

The LAKE and GRCA files in this file will resolve the boundary issue for those two parks that is currently on Park Tiles. The c

[2015-01-23 13:34] adamkoz commented on #123
Hi Makella - Park acronym for VT's only National Historical Park is MABI (Not MOBI).  Marsh-Billings-Rockefeller NHP.  Thanks!

[2015-01-23 14:54] brmitchell opened #129 "Hydrology"
Is it possible to get more detailed hydrology on the tiles? We (IMD) are starting to use the park tiles for data visualization, and it would help to see streams and smaller water bodies on the tiles. For example, MABI in Vermont has a permanent pond (The Pogue) and a stream (Pogue Stream) that do not show on the tiles. Current priorities would be parks of the Northeast Temperate Network, National

[2015-01-23 15:07] makella commented on #123
Ah, thank you!

[2015-01-23 15:10] makella commented on #120
Correction to above explanation from Mark Sappington (Natural Resource Program Manager)

Thanks for passing on the information relating to our boundaries. One correction. The Shivwits Plateau north of the Grand Canyon is not part of the Hualapai Reservation and should be depicted on the maps. The only polygon that should not be depicted is the one south of the Grand Canyon. Let me know if you have

[2015-01-23 15:10] makella commented on #120
I've also requested a new illustration so we make sure things are right.

[2015-01-23 15:23] makella commented on #129
@brmitchell thank you for the useful information with regards to how Park Tiles is being used!

We definitely want to improve the hydrography in our tiles.  I will work on getting The Pogue and Pogue Stream on the map.

With regards to the other networks, that will take more time but something that is definitely on our list of things to do.  We may be able to help you in other ways with your appli

[2015-01-23 15:33] brmitchell commented on #129
Thanks! If it will help you with this process, we have shapefiles of water bodies, streams, and rivers clipped to a 5 mile buffer around most of the NETN parks (11 park units). Let me know if you want me to package this up and post it for you.

[2015-01-23 15:34] makella commented on #129
Yes!  That would be great!

[2015-01-23 16:13] brmitchell commented on #129
OK, I'm posting to BisonConnect now, you should get an e-mail shortly. Note that ROVA = ELRO, HOFR, and VAMA, and that the data for ACAD is clipped to a much smaller buffer than 5 miles because of the larger size of the park.

[2015-01-28 20:17] makella commented on #120
Latest from Ryan:

Mark's saying to include the starred red polygon (Shivwitz Plateau) which is north of the GRCA (Green).  The poly to the south is the Hualapai Reservation and should not be displayed.

Looks like we found our GIS guy at PARA, so that should be getting going soon.

![image](https://cloud.githubusercontent.com/assets/1566273/5946036/f06ccd62-a6ef-11e4-8e25-a69640ae0a80.png)

[2015-02-09 14:53] johnpauls opened #130 "Ghost boundaries inside parks"
Occasionally I see small segments of boundary lines inside parks. Such as this in Rock Creek

http://www.nps.gov/npmap/park-tiles/#19/38.91731/-77.08234

Or thins along the C&O Canal

http://www.nps.gov/npmap/park-tiles/#18/38.99846/-77.24629

are these just artifacts?  Do you want them reported?

[2015-02-09 14:58] makella commented on #130
@johnpauls yes! Thank you for letting us know.

At first look, those artifacts look like they might be "holes" in the polygons that make up the park boundaries and are therefore getting the banded outline.  We'll take a closer look at the data and report back here.

Do you happen to have boundary datasets for these two parks?

Thanks,
mamata

[2015-02-10 13:14] johnpauls commented on #130
I think the Rock Creek issue set may be a "hole". I think the C&O Canal is a little more complicated as some of the land in that area is technically part of George Washington Memorial Parkway, and there maybe some issues involving the two boundaries not matching correctly, or the same parcel of land being assigned to both parks.

I have some boundary data (NCRN I&M network), but I am not sure if i

[2015-02-12 04:48] nateirwin commented on #130
Closing for now We can reopen when we get better boundary data.

[2015-02-12 04:48] #130 closed

[2015-02-12 15:04] makella commented on #119
SLBE should be labeled (I know because the park is displayed as a polygon at the opening scale).  I think what is happening is that we are at a tile boundary and the state label for Michigan and the large great lake label is blocking the placement of the label for SLBE.

I'll take a look to see if I can modify the location of the state label using CartoCSS to see if we can get that labeling sooner

[2015-02-14 14:33] tpcolson opened #131 "Disable rendering of certain roads coming from OSM"
OSM mappers have contributed roads in the park boundary that under no circumstance we want to be shown on any official NPS Map: roads under contruction. This results in thousands of people, usually per day, attemtping to drive on road and some percentage of them is successfully 'till they get to the mud-filled construction zone. Can these be turned off in park tiles? We'd rather not go behing the

[2015-02-17 15:19] makella commented on #131
Hi Tom,

Unfortunately, there is no easy way to do this right now.  The only way we can omit features is to query out specific OSM id's which gets messy.

Can you send me the specific areas/roads you are referring to?  I'll take a closer look to see if there is another alternative.

Thanks,
mamata

[2015-02-17 15:27] tpcolson commented on #131
![image](https://cloud.githubusercontent.com/assets/5861784/6230684/8ff26564-b68f-11e4-9822-93b3380d1ef8.png)

[2015-02-17 15:29] tpcolson commented on #131
The only other alternative is to delete it from OSM, which would cause another set of problems. Unfortunately we won't be able to use any OSM/Places content if it shows that road, closed roads showing up on public maps is a serious and expensive problem for GRSM.

[2015-02-17 15:30] makella commented on #131
Ok, totally understand.  Give me a little bit to talk to the team and figure out the best solution.

Thanks,
mamata

[2015-02-17 16:55] nateirwin commented on #131
Interesting. This is classified as "type=construction" in OSM. Maybe we should roll this up to Mapbox so they can take a look in Mapbox Streets? If there is no way to differentiate, that seems to be a fairly significant bug on their end.

[2015-02-17 17:50] makella commented on #131
After a little more digging, I see that the 'type=construction' is coming through in Mapbox's data source so we can style that type of road however we need to.  Now just to make sure, is it ok as a blanket rule for all parks to omit roads with that classification?  Also, how do we want these roads symbolized?

[2015-02-17 17:53] nateirwin commented on #131
My inclination would be to hide type=construction altogether, but I may not be thinking this completely through. @jimmyrocks, do you have any thoughts?

[2015-02-17 18:00] jimmyrocks commented on #131
I don't think a road that is under construction would be useful to most
people using our maps other than as a waypoint.

On Tue, Feb 17, 2015 at 10:53 AM, Nate Irwin <notifications@github.com>
wrote:

[2015-02-17 18:02] makella commented on #131
Ok. I can see some places where a section of road is under construction and it might look like it just drops off but we can always wait to get feedback about that part from people using the map.

Not showing the label for construction roads will be another thing.  Below are the attributes from Mapbox Streets you'll notice no type field in the road_label data.  I'll try and figure something out.

_

[2015-02-17 18:03] makella commented on #131
@tpcolson
I'll work on removing construction roads later on today.  I'll report back here when they have been omitted from Park Tiles.

Thanks so much for the heads-up.

mamata

[2015-02-17 18:32] makella commented on #131
I have a support ticket out to Mapbox about the labeling issue.  If it is ok with you @tpcolson I'm going to wait to hear back on that before I take these roads out so I can make all the changes at once.

[2015-02-18 14:47] makella commented on #131
@tpcolson I heard back from Mapbox and currently, there is no way to omit labels for one road type.  They have opened a ticket to add the 'type' attribute to the road_labels layer but that could take a while.

AJ, the lead cartographer there and I discussed some different options.  Can you tell me from your experience what roads you've classified in GRSM at street_limited?  One option might be to

[2015-02-18 15:00] tpcolson commented on #131
Even without the label, the road still renders in Park Tiles. We are not allowed to show roads which are  not open to the public in official publications. The issue isn't the label, we just don't want to show unofficial roads at all, the road centerline and the label. We have used access=private for two Park Housing Access roads, that is the only other tag I can think of. This issue is related to

[2015-02-18 15:05] makella commented on #131
Hey Tom, I understand that.  I will remove the road.  For now, there will still be a label until I figure out the best way to handle it.

There are two issues here:  not displaying any road that is under construction (which is easy) and then omitting the label for those roads (which is more challenging).  We are looking at it from two different perspectives as well... cartographically vs. real-wor

[2015-02-18 18:01] makella commented on #131
@tpcolson we've fixed this issue.  You see the changes either immediately or in a few minutes.  We modified both Park Tiles and Park Tiles Imagery.

http://www.nps.gov/npmap/tools/park-tiles/#13/35.7088/-83.7249

[2015-02-18 18:03] #131 closed

[2015-02-18 18:06] makella opened #132 "Look into effects of not labeling street_limited in Park Tiles"
In reference to: https://github.com/nationalparkservice/park-tiles/issues/131

Our temporary solution was to not symbolize roads with type=construction and to avoid having labels for roads that are not symbolized, we had to omit class=street_limited from our road labels.

We need to do more research around the map to make sure this is an OK decision.

[2015-02-18 18:21] tpcolson commented on #131
Oh wow that is perfect! Thanks! Sup will be happy!

[2015-02-18 19:41] makella commented on #131
That's what we like to hear! :)

[2015-02-19 18:31] nateirwin opened #133 "Add three new parks"
http://www.nps.gov/tusk/index.htm
http://www.nps.gov/hono/index.htm

[2015-02-19 23:54] nateirwin commented on #133
http://www.nps.gov/pull/index.htm

[2015-02-20 21:07] makella opened #134 "Add class=driveway to all maps"
All versions of Park Tiles need this class.

[2015-02-23 18:15] nateirwin opened #135 "Error in SAIR boundary"
From Nigel Shaw, the Northeast Region GIS Coordinator:

You can see the issue here: http://www.nps.gov/maps/full.html?mapId=233db5bb-3651-4ef7-8d34-42be468fc453#17/42.46810/-71.00740.

So it sounds like we should update Park Tiles with the boundary from this service: http://insidemapservices.nps.gov/arcgis/rest/services/NPSUnits/MapServer.

[2015-02-24 15:10] makella opened #136 "Korean War Veterans Memorial label gets replaced by Vietnam Veterans Memorial @z18"
At zoom 18, the label for Korean War Veterans Memorial changes to Vietnam Veterans Memorial.  We need to check and see why this is happening.

http://www.nps.gov/npmap/tools/park-tiles/#17/38.88624/-77.04737

Once the issue is resolved, we should let Nathan King,Web Coordinator - National Capital Region know as he is the one who brought it to our attention (nathan_king@nps.gov).

[2015-02-24 18:22] #136 closed

[2015-02-24 18:23] #133 closed

[2015-02-24 18:24] #127 closed

[2015-02-24 18:25] #126 closed

[2015-02-24 18:26] #120 closed

[2015-02-24 18:26] #117 closed

[2015-02-24 18:28] #101 closed

[2015-02-24 18:29] #81 closed

[2015-02-24 18:29] #14 closed

[2015-02-24 18:30] #98 closed

[2015-02-24 18:34] #116 closed

[2015-02-24 18:35] #128 closed

[2015-02-24 18:36] #125 closed

[2015-02-24 18:36] #123 closed

[2015-02-24 18:37] #118 closed

[2015-02-24 18:38] #110 closed

[2015-02-24 18:40] #109 closed

[2015-02-24 18:41] #99 closed

[2015-02-24 21:16] jimmyrocks commented on #136
This was a mistake in WSD_Parks, and the mistake was carried over to CartoDB.
There was previously no way to update any fields other than the_geom by using CartoDB.
CartoDB now allows you to update the following fields:
[code]

I updated the data in CartoDB, changed the poly_source to npmap (since the boundary didn't really come from the park), and reran the CartoDB script. It is now updated.

[2015-02-24 22:42] makella opened #137 "Alcatraz Label: CartoCSS"
With the next data update, remove CartoCSS from project to exclude Alcatraz label at small scales.

https://github.com/nationalparkservice/places-data/issues/17#issuecomment-75862908

[2015-02-27 15:52] tpcolson opened #138 "Allow creation of custom CSS"
Related to the labels and symbolizing issue...is it possible to have some sort of front end where a park user can control some simple and basic carto css and this would render a park tile package based on the input, which would then feed back into a basemap option in builder. This would have to be geographically limited, so a custom css wouldn't applied nationwide and rendered as a large tile pack

[2015-02-27 20:17] makella opened #139 "Look into removing halo from labels on Park Tiles"
Consider instead using drop-shadowed text like in Mobile to make labels more legible.  Particularly city labels.

[2015-03-03 16:57] makella opened #140 "Round corners on highway shields"
Round corners on all highway shields used in all versions of Park Tiles.

[2015-03-10 18:10] makella opened #141 "Make a dev version of Park Tiles Fused"
A dev Mapbox Studio project will be helpful for testing new sources and publishing purposes

[2015-03-10 18:13] nateirwin commented on #102
I'm going to close this one for now and label it as "wontfix". Switching to .jpg means would cause issues with transparency, and I don't think this is a high priority for now.

[2015-03-10 18:13] #102 closed

[2015-03-10 18:14] nateirwin opened #142 "Create a version of Park Tiles that pulls in only GRSM data"

[2015-03-10 18:30] makella commented on #141
https://github.com/nationalparkservice/mapbox-studio-projects/tree/master/park_tiles/park_tiles_DEV.tm2

Will add a mapbox id when there is a published version.

[2015-03-10 18:30] #141 closed

[2015-03-10 18:45] makella commented on #141
https://api.tiles.mapbox.com/v4/nps.bcf50824/page.html?access_token=pk.eyJ1IjoibnBzIiwiYSI6IkdfeS1OY1UifQ.K8Qn5ojTw4RV1GwBlsci-Q#5/44.292/-97.515

[2015-03-16 17:25] jimmyrocks commented on #142
Uploaded as: nps.nps-grsm-roads-trails-test

[2015-03-16 17:26] makella commented on #142
Great, thanks!  Will do some testing with it.

mamata

[2015-03-17 13:29] makella opened #143 "NPMaki"
More than an issue, this is a thought I had... Should NPMaki encompass our color palette too?  Our symbol set would include the icons and our color palette.  Didn't know where else to put this, but would love to hear any thoughts.

[2015-03-17 13:47] #143 closed

[2015-03-25 19:09] jimmyrocks commented on #142
Road Types:
-----------------
Residential Road
Secondary Link
Trunk Link
Abandoned Railway
Tertiary Road
Primary Road
Primary Link
Service Road
Secondary Road
Trunk Road

Trail Types:
---------------
Track
Equestrian Path
Trail

[2015-04-10 21:37] makella opened #144 "Adapt Streets V6"
This is still in draft mode but to get the roads to draw in GLCA we'll need to migrate to Streets v6 for all maps.

https://gist.github.com/ajashton/f5b6010c17a685def73b

[2015-04-13 21:11] makella opened #145 "Great Lakes double labels"
Great Lake labels have been added to OSM/Mapbox Streets data source which is causing double labels on our maps.

Simple fix in CartoCSS for all Park Tiles maps.

[2015-04-13 21:35] makella opened #146 "Isle Royale disappearing at certain zoom levels"
This isn't our mistake.  It looks like there is no longer an island cut out of Lake Superior at certain zoom levels and the terrain/land are not coming through -- it looks like some tiles are not rendering properly.

This is happening in both Terrain v1 and v2 on our maps as well as Mapbox's basemaps.  I have a support ticket out to Mapbox.

Pointed out by @ryanjhodge:
<em>Maybe you are already aw

[2015-04-14 13:30] makella commented on #146
@jimmyrocks: is this a case we can make to the OSM community as well? I feel like having one of our National Parks flooded out is a good argument for better representation.  Also, if Mapbox and NPS write it would likely make for a stronger case.

From Mapbox:

You hit on an interesting/fun/frustrating thing about using OpenStreetMap data -- different users have different ways of mapping things. Un

[2015-04-14 14:48] jimmyrocks commented on #146
This is a problem in OSM right now too. I'm not sure what the best way to fix it is, because if I just go in and change it, someone's just going to change it back. The best way to go would be to send a message to talk-us and talk-ca. I can do that!

http://www.openstreetmap.org/#map=13/47.9729/-88.7618

[2015-04-14 14:48] makella commented on #146
Yeah, exactly.  That's what I was wondering if you could do! Mapbox is going to also.
thanks, mamata

[2015-04-14 14:52] jimmyrocks commented on #145
One less layer that we need to add really!

[2015-04-14 14:53] makella commented on #145
We still need them at small scales.  Also the dataset I created helps us do the nice labeling along the line.  This is after those shut off and OSM labels kick in.  So we'll still need our Great Lakes labeling layer.

[2015-04-14 15:05] jimmyrocks commented on #145
Ok, we can leave them then!

[2015-04-17 18:41] makella commented on #146
Anyone willing to write the mailing list about this? I'm not familiar with how to approach these kinds of requests so any help would be appreciated... thanks!

[2015-04-20 02:49] ryanjhodge commented on #146
Looks like @jimmyrocks is on it here:
https://lists.openstreetmap.org/pipermail/talk-us/2015-April/014776.html

If there's any OSM update work to be done, let me know - I'd be happy to lend a hand.

[2015-04-20 14:30] jimmyrocks commented on #146
I probably should have notified the thread. There's a guy in Fort Collins,
Mike Thompson who I've been working with on some OSM stuff, and he is
really good with relations, so I put him on the task.

On Sun, Apr 19, 2015 at 8:49 PM, ryanjhodge <notifications@github.com>
wrote:

[2015-04-22 22:19] jakecoolidge opened #147 "Augment Park Tiles landing page on NPMap Website"
I have an idea for modifying the Park Tiles landing page (nps.gov/npmap/tools/park-tiles) to house the following items.
- First to appear would be a view of Park Tiles, which can be expanded like the state pages maps.
- Below this view would be documentation for the various ways we're using Park Tiles in our maps, and instructions for others to use Park Tiles in a variety of ways. For example, dur

[2015-04-23 02:13] MappingKat commented on #147
I like that idea.  We have some content in the blog for that already.

[2015-04-23 13:05] makella commented on #147
Like this idea too. I think these kinds of how-tos would fit better into our support docs.  Similar to what @MappingKat and I did for Builder.

[2015-04-23 14:47] jakecoolidge commented on #147
Maybe we can point to support documentation on https://github.com/nationalparkservice/park-tiles/wiki from the landing page, and keep the landing page fairly paired down. If you think of anything else we should place on the landing page, let me know.

[2015-04-23 15:27] jakecoolidge commented on #147
Okay, Nate just pointed me to nps.gov/npmap/support, and also got me up to speed on Threespot's concept for our support pages that they developed in January. I'll incorporate these frameworks into my thinking.

[2015-04-28 16:07] makella commented on #146
@jimmyrocks thanks for the help with this. it seems to be fixed now.

http://www.nps.gov/npmap/tools/park-tiles/#10/47.8049/-88.8334

[2015-04-28 16:07] #146 closed

[2015-04-28 16:08] makella commented on #142
closing done by @jakecoolidge

[2015-04-28 16:08] #142 closed

[2015-04-28 16:09] makella commented on #138
I'm moving this as an enhancement to Builder as it is more related to that tool versus Park Tiles.

[2015-04-28 16:09] #138 closed

[2015-04-28 16:12] makella commented on #92
This has been resolved.

[2015-04-28 16:12] #92 closed

[2015-04-28 16:13] makella commented on #122
consolidating issues related to this

[2015-04-28 16:14] makella commented on #12
Hoping that when we switch to terrain v2, the coastlines will get a lot better.  related to the work @jakecoolidge is doing

[2015-04-28 16:14] makella commented on #121
related:

https://github.com/nationalparkservice/park-tiles/issues/122
https://github.com/nationalparkservice/park-tiles/issues/12

[2015-04-28 16:15] makella commented on #35
Closing see below for new thread on similar issue.
related to:
https://github.com/nationalparkservice/park-tiles/issues/147

[2015-04-28 16:15] #35 closed

[2015-04-28 16:16] makella commented on #33
closing and opening new issue to address all versions of Park Tiles.

[2015-04-28 16:16] #33 closed

[2015-04-28 16:19] makella opened #148 "Implement NPMaki for Park Tiles, Park Tiles Imagery, Park Tiles Slate, Park Tiles POI"
NPMaki 1.0 needs to be styled and implemented for the Park Tiles suite.

[2015-04-29 13:49] makella opened #149 "Test out designs for other 'layers' that can be mixed and matched with Park Tiles"
@nateirwin and I have discussed for quiet some time the idea of designing separate layers that can be mixed and matched with Park Tiles.  Some examples include landcover, other public lands, landforms, etc. It would be great if we could prototype out one of these to see what the data requirements are and how something like this could be exposed in Builder.

The idea here is to leave Park Tiles as

[2015-05-04 17:48] jakecoolidge commented on #148
I have a draft of Park Tiles Standard with the new icons visible here: http://insidemaps.nps.gov/builder/map/?mapId=93c1574b-b569-442b-a858-26344c648bd2

The transparent icons are ready to go in the stylesheet (currently commented out), so we can quickly split the NPS POIs from the basemap and into its own layer.

If this looks promising I can delve into Imagery and Slate.

[2015-05-06 12:41] makella commented on #148
Hey Jake, these look really good.  There are a couple of minor things I see one being that the Ranger Station icons are too large at one zoom level: http://www.nps.gov/maps/embed.html?mapId=93c1574b-b569-442b-a858-26344c648bd2.  The Ranger Stations are important, but should not be given more importance (visually) compared to other features like picnic, lodging, camping, etc.

We also probably want

[2015-05-06 12:48] makella opened #150 "Fix roads in OSM for Big South Fork"
Chad Harrold, GIS Specialist/Geologist from Big South Fork NRRA and Obed WSR pointed out that:

"There are old Oil and gas roads on this map that basically do not exist anymore."

I asked him for a detailed screenshot of the roads that no longer exist:

"I am attaching corrections to the Park Tiles Map for Big South Fork.
All roads in red have either naturally reclaimed or are gated and used for a

[2015-05-06 14:43] jakecoolidge commented on #148
Thanks for taking a look at this. I'll adjust the Ranger Stations accordingly, and I agree, the disappearing Visitor Centers are an issue. Jimmy and I talked about it last Thursday. He showed me the code that is supposed to prioritize Visitor Centers over all other points of interest when the POI source is created, so we're not really sure what is happening. (You may have noticed a similar behavio

[2015-05-07 13:42] makella commented on #148
Hi Jake, yeah, I realize this is what is currently happening.  Jim and I worked together on the prioritization piece (basically symbol level drawing) so I know theoretically that is supposed to be happening too.  It would be good to look at other POIs and see if they are drawing in the correct order... is it just a case with Visitor Centers?  If the POIs are symbolized with no other features in th

[2015-05-07 19:36] jakecoolidge commented on #148
Here are Slate and Imagery previews. I've increased the size of Visitor Centers relative to Ranger Stations in all versions (Standard, Slate, Imagery).

Slate: http://www.nps.gov/maps/full.html?mapId=a88d551c-9076-4752-9648-85b1c0ac53c5

Imagery: http://www.nps.gov/maps/full.html?mapId=095fa7ac-00d3-43fc-92a5-1d8742ce917a

Standard: http://www.nps.gov/maps/full.html?mapId=93c1574b-b569-442b-a858-2

[2015-05-08 13:11] makella commented on #148
Hi Jake,

Thanks for putting these together.  A couple of my thoughts:

- On Slate, the green VC icon is a little too neon for the map
- On Slate, I think the pure white is a little too strong.  Can we try pushing that back maybe even to a <=10% gray?
- Can you send a version of the icons over imagery without the roads?  We don't symbolize roads on our imagery map (we only label them) so it is har

[2015-05-08 13:11] tpcolson commented on #150
Mamatha if you want to assign this to me I can make the edits in OSM and Places...

[2015-05-08 13:13] makella commented on #150
Ok, great! Thanks Tom.

I'll send you the PDF from Chad via email.

[2015-05-08 13:13] tpcolson opened #151 "Appalachian Trail Unit Boundary Conflicts with park boundary"
Within GRSM, the AT unit boundary is superimposed on top/within the GRSM boundary in tiles. This could be confusing to visitors looking at this map in our CMS. Can the AT boundary be merged/truncated at the GRSM park boundary, so one contiguous park boundary is rendered?

[2015-05-08 13:20] makella opened #152 "Place label getting cut-off at zoom 9 in GRSM"
https://github.com/nationalparkservice/npmap-builder/issues/214

[2015-05-08 13:27] makella commented on #151
Hi Tom, are you saying that you would like us to not symbolize AT through your park? Like it is ok to symbolize it, but you would like it to look like a trail in your park versus matching the existing style of the rest of the line?

[2015-05-08 14:16] tpcolson commented on #151
yes, just like any other trail (?), without the green boundary line buffering it. Not sure how the AT folks would feel about that....but our "Folks" would like the GRSM boundary to be consistent without the T boundary bisecting it, if that makes sense....

[2015-05-08 17:34] jakecoolidge commented on #148
Hi Mamata,

Roads are now transparent on the [Imagery preview](http://www.nps.gov/maps/full.html?mapId=095fa7ac-00d3-43fc-92a5-1d8742ce917a)

With the Slate icons, I'm erring on the side of small, incremental moves. The green of the VC is dialed down to something between the bright green used in Imagery and Standard's dark green. The other icons are now a light gray as you recommended--rgb(230,230

[2015-05-08 21:51] jakecoolidge commented on #148
I'm pretty stoked about this. Using symbolizers I'm able to wrangle the rendering order of points of interest. Visitor Centers are stable! Check it out:

http://www.nps.gov/maps/full.html?mapId=7634839f-26c1-4f1d-93c2-cb8c16c14b7f

[2015-05-12 16:38] makella opened #153 "Rendering artifacts"
I haven't seen this issue before, just noticed it in GRTE -- there are weird rendering artifacts showing at some (not all) zoom levels.  I'll investigate further.

http://www.nps.gov/npmap/tools/park-tiles/#17/43.90819/-110.64093

[2015-05-12 16:47] jimmyrocks commented on #153
That is very strange, I can re-render at some point if you'd like. Although
I haven't changed the park boundaries (which looks like the problem layer)
in a while.

On Tue, May 12, 2015 at 10:38 AM, Mamata Akella <notifications@github.com>
wrote:

[2015-05-14 18:36] jakecoolidge commented on #148
For Standard, Slate, and Imagery versions of Park Tiles, I've tested the base layer (with transparent icons) and a POI overlay (with transparent labeling). Below, I've included a link to the Builder map and the Mapbox IDs for each style. At this point, I encourage the team to have a look and provide input/feedback. Most notably, the icons drawn from our new icon set, but I've made some adjustments

[2015-05-14 21:35] #145 closed

[2015-05-14 21:35] makella commented on #145
done

[2015-05-15 12:27] makella commented on #148
Hi Jake, thanks for getting this all together.
The new icons look really good -- this will be an exciting release.
I have looked at all three maps but have not yet had the chance to look at as many parks as I usually do to make sure things are working well everywhere.  I will try and do that later today/this weekend.  Right off the bat though, I am noticing the squished 'i' in the visitor center i

[2015-05-15 12:39] makella commented on #148
Hi Jake, Another thought just occurred to me re: Slate icons.  Can you do the same tests that I did with the Slate basemap (inverted colors / high contrast settings) to make sure the icons are still visible? I have a feeling we might need some adjustments.

[2015-05-15 13:55] makella commented on #148
Hi Jake,

I just tested the high contrast / inverted color setting and everything looks good.

[2015-05-15 13:58] makella opened #154 "Park Tiles Slate: Water color needs to be adjusted"
Waterbodies are not visible using inverted colors / high setting contrast within park boundaries.  They are visible outside of parks (they show white) but inside of parks there is not enough contrast against the dark green park fill.

[2015-05-15 14:00] makella commented on #154
The water color is ok if contrast is at the medium range.  Once it is set really high (max) they get washed out.  So this may be ok for now.

[2015-05-15 14:00] #154 closed

[2015-05-19 13:44] makella commented on #148
Hi Jake,

Again, I think the icons look great.  Thanks for the hard work implementing these!

I've looked at all maps in detail and I think Park Tiles and Park Tiles Slate are doing well (there is a general comment about all maps at the end).

I think some of the icons are hard to see against the imagery and I'm wondering if it is because some of the depth (shadow treatment) was removed -- this is

[2015-05-19 14:04] makella commented on #148
Hello Everyone,

In order to get some space to upload Styles to mapbox.com for a project, I am going to delete the following:

Park Labels 2.2
nps.6277fc8b

Park Labels No Interactivity 2.2
nps.f9cdb79f

Place Labels 2.2
nps.92d0e6a0

This will not have any impact on the review of the icons against the different basemaps that Jake has linked to above.  These are our exploded layers that Jake was t

[2015-05-19 16:30] nateirwin commented on #148
Overall, the icons are looking great! Some comments:

The question mark icon definitely looks pixelated to me. Here's a screenshot.

![park_tiles_standard__fused__2_2_and_poi_overlay](https://cloud.githubusercontent.com/assets/10443/7708099/c635fa14-fe10-11e4-91cb-f210fa51c5c9.jpg)

Is there a way in the data to differentiate between a campground and a campsite? In this screenshot, the orange arro

[2015-05-19 16:33] makella commented on #148
@nateirwin yes, it would be great if we could do campground/campsite based rendering. I think it would be great if we could do that for restrooms too.  At a certain zoom level just show that there are restrooms in this general area and then when zoomed in show individual locations.  Mentioning this because in my head it is like the campground/campsite idea.

[2015-05-19 16:47] nateirwin commented on #148
I was just thinking we might be able to change the symbol based on its classification in the data.

Many backcountry campsites only have one tent pad, while many frontcountry campgrounds have several hundred campsites. To me, those are two totally different things.

We could definitely do the same with restrooms too. A vault toilet is not the same as a complex with ten stalls and showers.

Is that

[2015-05-19 16:50] makella commented on #148
Oh i read campground/campsite -- but yes, along the same lines. Bottom line: a little more granularity in the data would help with symbolizing things differently depending on the purpose of the map (as we already know!)

[2015-05-19 17:02] jakecoolidge commented on #148
Thanks, @nateirwin. I'm definitely in favor of differentiating between campsites and campgrounds. I'll work with Jimmy to get this data into the nps-places-poi source, while also developing a way to mark these sites with different symbols. A question for you guys: should we consider backcountry campsites a more specialized use-case feature that maybe we don't render on Park Tiles? In this case, we

[2015-05-19 17:04] nateirwin commented on #148
Well, backcountry campsites are a pretty important feature for large natural parks, and they are pretty much non-existent in other types of parks, so I would still classify them as important.

[2015-05-19 17:05] makella commented on #148
One thought to test for the overlapping label/poi (which from what I can tell is mostly with road labels):

- add a small buffer to the transparent icons to make them slightly larger so the road labels thing they take up more room than they do.

just a thought to test!

[2015-05-19 17:05] jimmyrocks commented on #148
Campground and Campsite are already defined in the rendering:
"tourism/camp_site";"Campsite";"{point}";"{"tourism":"camp_site",
"camp_site":"pitch"}"
"tourism/campground";"Campground";"{point}";"{"tourism":"camp_site"}"

But they are tagged inconsistently in places, since they were tagged rather
poorly in our source dataset.

On Tue, May 19, 2015 at 11:02 AM, jakecoolidge <notifications@github.com

[2015-05-19 17:25] jakecoolidge commented on #148
I'm using nps.places_poi. In both this source and in nps.nps-places-date, the FCategory for both campsites and campgrounds is "campground". I see that they're tagged differently in Places. Maybe I'm misinterpreting what you mean by the rendering definitions?

[2015-05-19 17:31] jimmyrocks commented on #148
Looks like you're right, campsites are getting rendered as campgrounds
I'll need to look into why

thanks for that, I'll have to get back to you.

On Tue, May 19, 2015 at 11:25 AM, jakecoolidge <notifications@github.com>
wrote:

[2015-05-19 17:32] jakecoolidge commented on #148
You have a little time; I don't have a symbol for backcountry campsites yet! Thanks for checking into it.

[2015-05-19 20:11] jimmyrocks commented on #148
The campsites are in there now, enjoy!

[2015-05-19 22:07] jakecoolidge commented on #148
Current checklist:
- [ ] Test new icon sizes applied at zooms 14-17
- [ ] Develop alternatives for Information symbol (outer ring renders poorly at small sizes)
- [ ] Develop alternatives for Visitor Center symbol (in some cases the "i" renders poorly)
- [X] Resolve labeling issue
  (Labels were not acknowledging the presence of the transparent svgs. I created new transparent svgs appear to be wor

[2015-05-21 00:38] nateirwin opened #155 "Revive "compare" tool for Park Tiles viewer"
I can add this to the "npmap-website" repository, but I thought I'd start the discussion here: What do you all think about reviving the Park Tiles compare tool that makes it easy to see Park Tiles next to commercial map tiles (Bing, Mapbox, etc.)? A lot of people seemed to "get" why we are building Park Tiles after they saw how much better our basemap is inside National Park Service boundaries.

J

[2015-05-21 14:15] makella commented on #155
I think this is a good idea.  Instead of comparing to Park Tiles, I would compare to the version of Park Tiles built with Places data (similar to when we first did this having Tom put his data in OSM and then showing how much detail we were adding).

I say this because if we compare to Mapbox, then the maps will pretty much look the same since we are pulling from the same datasource they are.

But

[2015-05-21 14:21] nateirwin commented on #155
Great. Can you sketch out a wireframe and jot down a few notes about what you'd like to see? I'd like to implement this soon.

[2015-05-21 14:39] makella commented on #155
for sure.

[2015-05-21 15:24] makella commented on #155
@jakecoolidge do you want to take a stab at wireframing this out? The compare tool will use the version of Park Tiles that you are building with Places data. You can see some screenshots of the one we (quickly) made a few years ago for State of the Map where we compared commercial basemap providers with a map of GRSM using OSM data that Tom had uploaded.  The full screenshot of the app is on pg. 2

[2015-05-21 17:13] jakecoolidge commented on #148
New iteration! I haven't updated Slate and Imagery yet, but before I do, I thought this map should be reviewed first:

[Park Tiles Standard 2.1 demo](http://www.nps.gov/maps/full.html?mapId=49250cc7-8e62-4fc3-ace5-33acceb885ac)

It incorporates changes marked in the checklist above. If we like this direction I can begin updating Slate and Imagery.

[2015-05-21 17:26] nateirwin commented on #148
I think it is looking really good! One question: How are the "campgrounds" up along the Appalachian Trail in GRSM tagged? I believe those are really shelters (wooden structures with bunk beds), and don't we have a shelter icon?

![park_tiles_standard__fused__2_1_and_poi_overlay](https://cloud.githubusercontent.com/assets/10443/7754747/35bd9846-ffac-11e4-9c3c-add388f17c8c.jpg)

[2015-05-21 17:59] jakecoolidge commented on #148
We do indeed have a shelter icon. These are coming into the source with the FCategory "campground". @jimmyrocks may be able to update the rendering script--I pointed this out to him. In Editor, Sillers Bald Shelter, for example, is tagged--"amenity=shelter", "tourism=camp_site", "building=hut". The tourism tag must be what is rendering the category as a campground.

[2015-05-21 18:04] jimmyrocks opened #156 "Shelter renders as Campground"
@jakecoolidge says: https://github.com/nationalparkservice/park-tiles/issues/148#issuecomment-104372204

I'm looking at it now

[2015-05-21 18:10] jimmyrocks commented on #156
It renders properly in the code, must have been something we never updated. Updating cartodb and mbtiles now.

[2015-05-21 18:14] jimmyrocks commented on #156
Updated 37 shelters:

193850
2170999
2171019
2171020
2171022
2171023
2171036
2171038
2171039
2171056
2171065
2171066
2171068
2171070
2171074
2171075
2171078
2171085
637
1026
1316
2161
2380
2505
2997
2998
3481
4118
4119
4147
4267
4783
50586
50706
52902
1562
9781

[2015-05-21 18:14] #156 closed

[2015-05-21 19:04] jakecoolidge commented on #148
Jimmy updated the shelters, and I've now integrated shelters into the Park Tiles 2.1 demo.

[2015-05-21 19:16] nateirwin commented on #148
Looks good!

[2015-05-21 20:16] jakecoolidge commented on #155
I've come up with a two basic ideas for what this could look like. Features common to both variations include:
- A "Find a location" input bar
- Home and Zoom controls
- Uses only Park Tiles Standard. My rationale is to keep the interface relatively simple, and eliminating the drop-down menu for Imagery and Slate frees up a few pixels for the map. It will be particularly hard to see all the added

[2015-05-22 15:23] jakecoolidge commented on #155
I've created a demo map of Park Tiles drawing roads, trails, buildings, and points of interest from Places; have a look [here.](http://www.nps.gov/maps/full.html?mapId=f97cbf73-91ea-4c05-ae22-32864393131e) It will give you a live look at the Big Meadows campground in Shenandoah (among other places) featured in my wireframes above.

[2015-05-22 15:27] makella commented on #155
nice! can you give the parking lots a different fill than white? we don't currently symbolize parking lots on park tiles but something that doesn't conflict with the building gray would probably work.

[2015-05-22 15:31] jakecoolidge commented on #155
I'll look into it straight away.

[2015-05-22 15:35] makella commented on #155
related to: https://github.com/nationalparkservice/park-tiles/issues/105

[2015-05-22 15:42] makella commented on #105
Is the drop shadow color on the buildings working better than what we currently have? I'll be curious to see if that new color helps the gray of parking lots (or whatever color you choose) stand out better.

[2015-05-22 15:51] nateirwin commented on #155
Great to see our data out there!

[2015-05-22 16:18] jakecoolidge commented on #105
I didn't make any modifications to the building color and shadow for this version, though I'm seeing now that my cartocss for the buildings in much simpler at large zooms. Dropping back the opacity of the parking lots, as a first pass, seems to be a step in the right direction.

[2015-05-22 17:09] makella commented on #105
Oh ok. It looks fine now. When I first looked the shadow looked closer to the main road color. Maybe it was my monitor.

[2015-05-26 14:20] makella commented on #148
Hi Jake,
Can you give us one more option to choose from for the campground/campsite?  I definitely think what you've done looks great.

The information icon is the only icon in the NPS set that has a symbol around a symbol -- that's why that one has a frame around it even though we removed the frame shapes from all the icons.  Since that's already how that one was (and the only one that had a shap

[2015-05-26 14:44] nateirwin commented on #148
I definitely agree with @makella - it would be great to play around with a few more designs. I'm happy to brainstorm a bit if that would help.

[2015-05-26 19:43] jakecoolidge commented on #148
This morning I came up with a campground symbol in which three smaller tent triangles are grouped to form a larger triangular shape. It originates from my earlier concepts but forms a more coherent graphic profile. I like that a triangular shape stands in for camping generally; a single triangle/tent for campsites, and a more complex triangle group for campgrounds.
![campground-trio-cades-cove](ht

[2015-05-26 20:49] makella commented on #148
This is a tough symbol! What you've come up with is an interesting take on it.  Will the campground icon disappear at some point and show campsites?  If so, this makes sense to me where the campground icon with multiple tents will break up to show individual campsites.

I'm curious to see your other variation as well.  Were there any recommendations that Tom made that we could try and test out as

[2015-05-27 21:14] jakecoolidge commented on #148
My latest thinking on the campground icon vs. the campsite icon can be viewed here:
[centered on Cades Cove](http://www.nps.gov/maps/full.html?mapId=d2af3321-6ea5-4077-a244-db6ddadc3e48)
[centered on Grand Canyon South Rim](http://www.nps.gov/maps/full.html?mapId=f7217e08-281a-482c-9acd-14fea758c679)
In addition, I ran with a suggestion Mamata had--to support multiple categories of campsite, if ne

[2015-05-28 13:55] makella commented on #148
Hi Jake, I think this is looking a lot better and more inline with the rest of the set -- thanks for taking the time to work through this tough, but important issue!

For everyone else, a little backstory: Jake had the idea of doing the lines on the side of the tent to indicate more (ie - campground with multiple sites) we looked through the other symbols from HFC in the standard and more sets, an

[2015-05-28 14:24] nateirwin commented on #148
That sounds like a plan to me!

[2015-05-28 16:26] jakecoolidge commented on #148
Okay, we're really close! Thanks for your patience as we iron this out. We're down to two options, which I've diagrammed here, side-by-side. On the left, the campground icon has additional bands, and is paired with a small tent icon to represent campsites. On the right, the campground icon is represented by normal-sized tent icons, and campsites by a small tent with a circle in the center. Zoom in

[2015-05-28 20:56] makella commented on #148
@jakecoolidge which one are you thinking works best?

[2015-05-28 21:00] makella commented on #155
I think both viewer ideas are good.  I guess which option we go with will be easier to decide once we figure out more about the Places landing page on Monday.

@jakecoolidge what basemaps do you think we should compare against?  In the past we used Bing, Google (which we no longer have a license to), and Mapbox.  I'd be interested to see if you've noticed parks in the version of Park Tiles built u

[2015-05-28 21:14] jakecoolidge commented on #148
Yeah, I guess I should ping you guys, since I'm waiting to see what others have to say. But for my part, I'm leaning towards the option on the left. I know it's a bit more radical, since the regular tent icon is typically associated with campground. What I sometimes remind myself is, the campground icon has been modified in the past on print maps with a bounding box to indicate a larger magnitude

[2015-05-28 21:21] jakecoolidge commented on #155
This is something I want to spend a little more time researching. I chose a portion of Shenandoah for my wireframe specifically because I think Places data in that area is already showing some improvement over OSM. (I also seeded its roads, trails, and parking lots, so I'm fairly familiar with what's in there.) If you know of particular parks that are poorly represented in OSM that you could point

[2015-05-28 21:50] makella commented on #148
I'm good with that. We can put it out there and see if there is any feedback... always a good way to test something out. Also, thanks for the comparison, it really helps.

If we go this direction we should probably add it to the Builder set as well and change the current name for the campground icon we have to campsite, right?

What does everyone else think?

[2015-05-28 21:54] makella commented on #155
I'd say to look at parks on Park Tiles that are rural.  Those ones tend to not have good coverage in OSM. Even a park like GRSM did not until Tom added his data.  Even if a park does have what seems to be good coverage, roads and trails are often times incorrect.  Another idea is to look through which parks/regions have contributed their data to Places -- that's probably a good way to start.  Ther

[2015-05-28 22:06] jakecoolidge commented on #155
Sounds good. I should have a short list together by Tuesday. And yes, we do have a data seed tracking sheet that will give me the recent contributions--I'll consult this.

[2015-05-29 14:57] nateirwin commented on #148
I'd say it sounds like a plan. Like you said, I think we'll hear back quickly if people don't like the new icon ;-)

I'm happy to update Builder with the new icon set once it is ready.

[2015-05-29 15:07] jakecoolidge commented on #148
Cool. Once the Builder set is good to go, I'll notify you.

[2015-05-29 17:13] cwlawlis802 commented on #148
Looks good to me! I like the idea of a clustered icon, especially if it can expand to identify specific campsites at given zoom levels (in parallel to [Leaflet's Markercluster](https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-markercluster/)). :+1:

[2015-06-03 15:16] nateirwin commented on #119
The Chief of Interp sent me another email on 5/26/2015 inquiring about the status of this issue. Just wondering if it is something we may be able to take care of with a quick fix?

[2015-06-03 15:21] jimmyrocks commented on #119
As far as the database is concerned, it should get it's label at zoom 6: https://github.com/nationalparkservice/mapbox-studio-projects/blob/56743182829164488e7da5330db4a63ec11116f8/park_tiles/park_tiles_data_process/nps_data_compilation/scripts/cleanup/label_point_calc_tasks.sql#L279-280

Unfortunately, this means it won't be easy to change and won't be a quick fix.

[2015-06-03 16:02] jakecoolidge commented on #119
Since there's only SLBE in that part of Michigan, I propose we use CartoCSS to move the Michigan label down along the y axis.
zoom 5
![z5](https://cloud.githubusercontent.com/assets/11392872/7964914/7e009a88-09d7-11e5-9c25-98864f41b3c1.png)
zoom 6
![z6](https://cloud.githubusercontent.com/assets/11392872/7964913/7e006e6e-09d7-11e5-810a-355884a29609.png)
zoom 7
![z7](https://cloud.githubusercontent

[2015-06-04 12:57] makella commented on #119
@jakecoolidge thanks for taking a look at this.  I've implemented what you suggested and re-published the map.  I would like to see if there is another way to implement this change without additional CartoCSS.  I've done this in Park Tiles, Park Tiles Imagery, and Park Tiles Slate.  I will spend some time later today adding to the exploded version.

thanks again.

[2015-06-04 13:01] #119 closed

[2015-06-04 13:23] makella commented on #119
All maps should be updated now.

[2015-06-04 14:32] nateirwin commented on #119
Thanks, looks great!

[2015-06-09 20:27] makella opened #157 "Support display of park boundaries in coastal areas and other waterbodies"
With reference to:
https://github.com/nationalparkservice/places-data/issues/47

[2015-06-11 15:31] jakecoolidge opened #158 "Add POI overlays for Slate, Imagery to Park Tiles viewer"
Here are the MB ids for the following overlays:

Slate POI overlay: nps.502a840b

Imagery POI overlay: nps.08c8af87

[2015-06-15 15:10] jakecoolidge commented on #148
All versions of Park Tiles have been updated to accommodate the new POI symbols, including the Github repo and our Mapbox account.

[2015-06-15 15:10] #148 closed

[2015-06-15 19:03] makella commented on #122
@jimmyrocks you will be happy I think I might have cracked this nut... finally!  More to come.

[2015-06-15 19:04] jimmyrocks commented on #122
Exciting! I want to know more!

On Mon, Jun 15, 2015 at 1:03 PM, Mamata Akella <notifications@github.com>
wrote:

[2015-06-15 19:50] nateirwin commented on #122
Me too!

[2015-06-15 21:06] nateirwin commented on #158
Ok, this is implemented, but I can’t roll the change out to production until one issue is taken care of. The POIs don’t have interactivity turned on for these two overlays.

@makella can show you how to do this, Jake. Let me know when interactivity is turned on and I’ll get this out.

[2015-06-15 21:15] jakecoolidge commented on #158
I think I know where this adjustment can be made. I'll give it a shot and update the repo.

[2015-06-15 22:56] jakecoolidge commented on #158
I think the overlays needed the template parameter specified in the xml to fully support interactivity. This has been added to the styles on Mapbox and in the repo. If it's still not working let me know and I'll consult @makella.

[2015-06-16 00:18] makella commented on #158
Hi Jake, I'll take a look in the morning but it is in the project .yml not
.xml

On Monday, June 15, 2015, Jake Coolidge <notifications@github.com> wrote:

[2015-06-16 13:58] makella commented on #158
This looks good to me. @jakecoolidge another way to test in the future is to click on the features in the Mapbox Studio project and/or bring the layer into Builder and check that interactivity is working.

[2015-06-16 14:29] nateirwin commented on #158
Done. I'll deploy the update later today.

[2015-06-16 14:29] #158 closed

[2015-07-10 16:50] makella commented on #153
@jimmyrocks, have you had a chance to re-run park boundaries?  when's the last time that was done? still seeing this artifact.

[2015-07-10 17:43] makella commented on #152
I fixed this in:
Park Tiles Fused
Park Tiles Imagery
Park Tiles Slate
Park Tiles Exploded Place Labels

The issue what the `text-min-distance` value on label type village. It was set to 40. I knocked it down to 20 which fixed this issue (which is also an edge case). This makes more place labels show up so in the future if we feel like there are too many labels for this type, this is the property t

[2015-07-10 17:43] #152 closed

[2015-07-10 17:46] makella commented on #150
@tpcolson can you give us an update on this?

[2015-07-10 17:47] makella commented on #144
I have not seen any announcement or use of Mapbox V6 yet so I am hesitant to switch all of our maps over at this point.  And if we are displaying Places data inside of park boundaries, this will no longer be an issue.

Closing for now.

[2015-07-10 17:47] #144 closed

[2015-07-10 17:48] makella commented on #150
from @tpcolson :

From: Colson, Thomas [mailto:thomas_colson@nps.gov]
Sent: Monday, May 11, 2015 6:44 PM
To: Akella, Mamata; Benjamin Harrold; Christopher Barrow

Subject: Re: Park Tiles data

Chad, this has been mostly done. In the coming weeks, the NPMap team is going to be working through some edits to the park-version of the OSM database, which will update Park Tiles for the whole NPS. I am wo

[2015-07-10 17:48] #150 closed

[2015-07-10 17:50] makella commented on #105
I am assuming that we'll be rendering parking lots from Places on Park Tiles?  If so, closing this as we would not want to render parking lots on the entire map from OSM, correct?

[2015-07-10 19:02] makella commented on #151
@tpcolson I think we are going to leave this as is on Park Tiles for now.  @jakecoolidge was working on some alternative representations for AT through GRSM so he might have a solution.  We got the trail data from the AT folks and want to display their data as they want it shown as well.  I

[2015-07-10 19:09] jakecoolidge commented on #151
Even my variations did not remove the green boundary buffering AT as it went through GRSM; they were more oriented around developing a consistent trail symbol for AT and non-AT trails, but identifying AT with an additional buffer (I think I brought the size of the buffer down slightly, but it's still visible). We would probably want to make sure the AT folks were okay with a discontinuous buffer s

[2015-07-10 19:10] jakecoolidge commented on #105
I concur--parking lots will only affect Park Tiles within NPS boundaries, and will be drawn from Places data. So we'll have that important contextual info as we move to Places data in the near future.

[2015-07-10 19:23] tpcolson commented on #151
Besides the buffer, there appear to be some issues with two different data sources for the same trail..which show some pretty significant differences in geometry...

![image](https://cloud.githubusercontent.com/assets/5861784/8627058/67a12166-2716-11e5-95fc-162744c1d097.png)

[2015-07-10 19:26] makella commented on #151
That is coming from OSM.  Unfortunately, we can't remove the Appalachian Trail from rendering because in OSM it is made up of so many different segments.  I tried to do it in the beginning and if we do such an intense query, our map won't upload to Mapbox.  I'll check again and see if I can do it but from what I remember, that was the issue.  I'll check again and report back.

[2015-07-10 19:41] tpcolson commented on #151
I think I know what the problem is...and it's my fault: way back when, when I did the original OSM import, I blasted our trails into OSM, and promptly had to "smooth" them (de node) after complaints from OSM folks. So teh "Green" AT that is being pulled from OSM is the "denoded" one that I had uploaded, and the white one is the original, has-all-the-nodes one that I put into places DB. The solutio

[2015-07-10 19:44] makella commented on #151
Actually the green AT trail is the one we got from them and the white one
is being pulled from OSM.

On Fri, Jul 10, 2015 at 1:41 PM, Thomas Colson <notifications@github.com>
wrote:

[2015-07-10 19:48] tpcolson commented on #151
I'm confused...then where is the one that is in Places? If that's the case, it'd be handy if we're only showing one trail through the park, and that's it's node-connected to all of the other trails that connect to it. GRSM Trails were inventoried with a Trimble GPS, so we're pretty confident that the trails layer posted into to places is the correct one.

[2015-07-10 19:50] makella commented on #151
Places data currently does not show on the version of Park Tiles that we're talking about.  The green AT line is coming from our boundary data.  We swapped out the lands (buffered line polygon) of the AT with a line feature that we received from Matt Robinson - GIS Specialist
Appalachian National Scenic Trail

[2015-07-10 19:55] tpcolson commented on #151
I think we have a bigger issue here then, two units each wanting a different version of the same trail being shown on the Tiles.

[2015-07-10 19:56] makella commented on #151
exactly.

[2015-07-10 20:12] makella commented on #140
Done for the following maps:
- Park Tiles Fused
- Park Tiles Imagery
- Park Tiles Slate
- Park Tiles Exploded Place Labels
- Park Tiles Mobile Starter
- Park Tiles Mobile NPNH
- Park Tiles Mobile KLGO
- Park Tiles Mobile HEHO
- Park Tiles Mobile FOSM
- Places Editor Viewer Overlay
- Park Tiles Knockout
- Park Tiles Dev

Each single one of these maps `img/shield` have been updated.  All maps that a

[2015-07-10 20:12] #140 closed

[2015-07-10 20:17] makella commented on #151
i am going to move this to the places-data issues since we've determined it is a data and not cartography issue.

[2015-07-10 20:17] #151 closed

[2015-07-14 14:31] makella commented on #122
I think I figured it out!! @jakecoolidge do you have a prototype id for terrain V2?  I've done this with v1 but want to see if it'll work the same with v2.

[2015-07-14 14:46] jakecoolidge commented on #122
I have a style on my local drive that is just hillshade v2... I integrated this style into an [older test version of Places Viewer](http://www.nps.gov/maps/full.html?mapId=b1ec9b4d-7e9d-4539-9c26-99fe763bf38b). This style uses hillshade v2 as an underlay (nps.9b6d0fa5) and places two additional style (nps.6b727d4b, nps.ef4be385) over it--but this of course is one step shy of engaging with the land

[2015-07-14 15:00] makella commented on #122
Ok, cool.  I'll just use your mapbox id in my test map.  If this works out, I'll let you know. Thanks!

[2015-07-14 15:04] jakecoolidge commented on #122
Awesome!

[2015-07-14 20:46] makella commented on #139
This is addressed in Park Tiles 3.  Will close when we've published

[2015-07-14 20:53] makella commented on #122
@jakecoolidge here is a Builder map with your terrain layer... take a look and let me know what you think. I adjusted some land colors on the Park Tiles redesign so we can go over those after you've had a chance to look at this.  I think it is looking good!  And now @jimmyrocks will jump for joy because we don't need a mask.

http://www.nps.gov/maps/embed.html?mapId=5bb01010-51aa-4065-b877-0babdf7

[2015-07-14 20:54] makella commented on #134
We have this class in the Places data, correct?  If we do, I am not going to bother so much with making sure that we have the class rendering from OSM data.

[2015-07-14 20:55] makella commented on #121
in progress with Park Tiles v3

[2015-07-14 20:55] makella commented on #83
This will be implemented in Park Tiles v3.  Will keep this open until that is published.

[2015-07-14 20:56] makella commented on #105
closing because we are rendering parking lots from Places data in Park Tiles v3

[2015-07-14 20:56] #105 closed

[2015-07-14 20:56] makella commented on #122
We are very close to solving this!

[2015-07-14 20:57] makella commented on #157
I think I have a solution for this and will test out and hopefully implement in Park Tiles v3

[2015-07-14 21:08] makella opened #159 "List of attributes to be symbolized in Park Tiles from Places data"
Is there a list anywhere that I can use to make sure that I am rendering all types of roads, trails, etc. from our nps.nps_places_data source?

[2015-07-14 21:11] jakecoolidge commented on #134
We definitely have parking aisles, a subset of service roads, but driveway isn't one of the Places presets, and doesn't come up as a feature type in Editor. I think you could safely discontinue rendering the OSM driveways. For Places data we'll want to style type='Service Road' and type='Parking Aisle'. Hope that answers your question.

[2015-07-14 21:14] makella commented on #134
Yes, that helps. Thank you. I guess the second part of your answer relates to this question: https://github.com/nationalparkservice/park-tiles/issues/159

[2015-07-14 21:15] makella commented on #134
Closing to carry the conversation here: https://github.com/nationalparkservice/park-tiles/issues/159

[2015-07-14 21:15] #134 closed

[2015-07-14 21:21] jakecoolidge commented on #159
I refer to the [this spreadsheet;](https://docs.google.com/spreadsheets/d/1sQZRUZDe8vPu8PANxoIc5k0Pv85xNd5ae4uGJ0fwEt0/edit#gid=1063193272) in it Chad, Angie et al have captured potential Places presets that are available to users in Places Editor.
This is the list I've compiled for use in my Places Viewer style:
    [type='Trunk Road'],
    [type='Primary Road'],
    [type='Secondary Road'],

[2015-07-14 21:23] jakecoolidge commented on #122
Your map sample looks great. Glad you've made some progress you're happy with!

[2015-07-14 21:26] makella commented on #122
Thanks! Getting there.  Let me know what you think of the map with your hillshade v2... for comparison, here is the same map as above with hillshade v1 masked the same way:

 http://www.nps.gov/maps/embed.html?mapId=e3e50749-e58e-4919-afc3-3541a768d325

[2015-07-14 21:28] makella commented on #159
Thanks! This is helpful. Now I guess it would be good to have a conversation if all trails are equal on Park Tiles Fused and use the type attributes for more custom maps.  Also, I guess we'll need to think of some zoom dependent styling for the trail types... similar to POIs, what should show first and when?

[2015-07-23 20:27] makella commented on #139
done

[2015-07-23 20:27] #139 closed

[2015-07-23 20:27] makella commented on #157
done

[2015-07-23 20:27] #157 closed

[2015-07-23 20:28] makella commented on #137
done

[2015-07-23 20:28] #137 closed

[2015-07-23 20:29] makella commented on #122
Hallelujah! This is done and figured out.

[2015-07-23 20:29] #122 closed

[2015-07-23 20:29] makella commented on #83
In version 3

[2015-07-23 20:29] #83 closed

[2015-07-23 20:29] makella commented on #121
in version 3

[2015-07-23 20:29] #121 closed

[2015-07-23 20:30] makella commented on #132
not relevant now that we are displaying Places data inside of park boundaries

[2015-07-23 20:30] #132 closed

[2015-07-23 20:34] makella opened #160 "Park Tiles 3 review"
Hello All,

Although not yet completely done (will it ever be?), I am pretty happy with where this version of Park Tiles is.  Nate made a simple viewer for comparison/review.  On the left is Park Tiles 3, on the right, Park Tiles 2.

Please take some time to look over.  I'm going to schedule some time for us tomorrow to talk through some of the major changes all of which I will not be listing here

[2015-07-23 20:37] jimmyrocks commented on #160
This is great! I love being able to see all the places data!

On Thu, Jul 23, 2015 at 2:34 PM, Mamata Akella <notifications@github.com>
wrote:

[2015-07-23 20:38] makella commented on #160
definitely exciting, eh??

[2015-07-23 20:44] makella commented on #160
Notes:
- Add POIs transparent to middle layer see Fort Vancouver

[2015-07-23 20:54] jimmyrocks commented on #160
There are soooo many errors in places! Hopefully this will get people to
fix them!

On Thu, Jul 23, 2015 at 2:44 PM, Mamata Akella <notifications@github.com>
wrote:

[2015-07-23 20:59] makella commented on #160
LOTS of unclassified roads.

[2015-07-24 21:18] jakecoolidge opened #161 "update Places POI datasource in Park Tiles 2"
Jimmy would like us to phase out using nps.places_poi in favor of nps.nps-places-data (less data sources to maintain moving forward).

[2015-07-28 14:15] makella opened #162 "Proposed upgrades to Park Tiles 2"
I am thinking that we can easily make the following updates to Park Tiles 2 - the Fused version:

- labels (upgrade labels to what we have for version 3)
- display park boundary lines over water
- upgrade hillshade to v2 (when ready)

Since we won't be releasing version 3 until the beginning of next year, these might be some incremental changes (in addition to any others) that we can make to the c

[2015-07-28 16:15] makella commented on #160
Here is Park Tiles 3 with Tom Patterson approved Mapbox terrain v2:

http://www.nps.gov/maps/embed.html?mapId=f2088946-b59a-4ee4-a00a-318aae2470a5

[2015-07-28 16:19] makella commented on #160
I should mention that I still need to blur things and transition out of the hillshade at large scales...

[2015-07-29 17:22] nateirwin commented on #160
This looks great, @makella!

[2015-07-29 17:24] makella commented on #160
thanks!

[2015-07-29 17:57] makella commented on #162
city dots

[2015-07-29 20:05] ryanjhodge commented on #160
What do you mean by `blur things and transition out of hillshade at larger scales`? This reminded me of something I've been meaning to mention for awhile.... It occurred to me while using npmap/park tiles on my phone while at Grand Canyon last month and Zion over the weekend.  It felt a little odd to me to see the GRCA rim or the ZION canyon walls disappear on the map while standing right next to

[2015-07-29 20:29] makella commented on #160
Hi Ryan,

Yeah, the terrain doesn't have high enough resolution to display at larger scales.  And so what I did was incrementally blur it out so by the time you are at zoom 17 it is no longer drawing.

mamata

[2015-07-29 21:13] makella commented on #160
This is what I believe is the 'final' version of Park Tiles 3.  The VC labels need some work still.  I'll look deeper into that when I have some time.  I've also added the projects to mapbox-studio-projects repo. I did some detailed documentation in the projects themselves -- I have a little more to add but for the most part, that is done.

http://www.nps.gov/maps/embed.html?mapId=e0debb39-2c9e-44

[2015-07-30 00:56] nateirwin commented on #160
Such a huge step forward! A few bits of feedback:

1. Is it possible to show trail labels one zoom level sooner? I find myself looking for them at zoom 15, but maybe that's too much information too early?
2. The label for Little Bighorn Battlefield at zoom level 8 is cut off (see screenshot below).

![park_tiles_3_0__final_](https://cloud.githubusercontent.com/assets/10443/8970237/c7d259bc-3605-11

[2015-07-30 01:21] ryanjhodge commented on #160
1. `Mapbox-Streets` roads and layers are underneath park boundaries - I'm guessing this is on purpose as I see some units have roads that I'm assuming are coming from the Places DB.  You can see road sections and cut off road labels in parks that have inholdings (e.g. GOGA and VAFO).

2. VAFO you can see Road Shield labels on top of the park, but no roads (e.g. PA23 and SR3022)

3. There are no bo

[2015-07-30 13:26] johnpauls commented on #160
Not sure this is the correct place for this as these problems are also on the prior version, but:

1) This is from the Suitland Parkway which heads east out of Washington DC.
![image](https://cloud.githubusercontent.com/assets/5996979/8982912/a9a0f5a0-3693-11e5-8468-c92c87b772c1.png)

There is a label there "National Capital Parks" which should either be Suitland Parkway or National Capital Parks

[2015-07-30 13:55] makella commented on #160
@ryanjhodge @johnpauls

Thanks so much for taking the time to give us feedback!

I should give you both some context about this map but before I do, please add any boundary/park labeling issues to the [places-data](https://github.com/nationalparkservice/places-data/issues) repository.  We are tracking those there.

Park Tiles 3 is a new map that we've been working on that displays data coming from

[2015-07-30 13:58] makella commented on #160
@nateirwin I'll try labeling trails at z15.  Once we have more granularity in the data, I feel like this might be easier to achieve.

I'll check into the cut-off label.

[2015-07-30 15:24] jakecoolidge commented on #160
It's going to be really difficult to resolve all label/poi symbol conflicts; having said that, I'm thinking about the place labels (hamlets, neighborhoods, and others with low localrank values) inside park boundaries, and how we can integrate them in a way that doesn't knock out the symbols at different zoom levels. Paiute Apartments in GRCA and Sunrise in MORA are two examples. Now that you're la

[2015-07-30 15:30] jimmyrocks commented on #160
I think a lot of these places-data issues can be assigned to our
to-be-created tasking manager.
I've been thinking about the places-boundaries / park labeling issues, and
I think we can fix most of it by allowing people to make the edits directly
to cartodb and using CartoDB as our main data source. This process would
include using an A/B testing tool when importing / updating park boundaries
from

[2015-07-30 17:23] makella commented on #160
@jakecoolidge thanks for the comments!

So one option has always been to put `nps_places_poi` above `place_lables` in the .yml. The only issue there is that if a place name appears and then there is a poi there, the place name will disappear.  So same issue just the other way around.

The reason I haven't done that in the past is because the version of Park Tiles that is used without POIs would ha

[2015-07-30 17:25] makella commented on #160
I've also figured out that the `text-min-distance` property is pretty useful.  It is just a matter of playing around with it to see what works and make sure it works in 30-40 (minimum) different parks rural and urban, etc.

[2015-07-30 18:14] nateirwin commented on #160
Something else I just thought of: Are one-way roads symbolized properly? I don't know of any one-way roads off the top of my head to check.

[2015-07-30 18:25] jakecoolidge commented on #160
Conzelman Road in the Marin Headlands is one-way. I don't think we have access to one-way info in the source, though. We have minzoompoly, name, osm_id, type, unit_code, and z_order.

[2015-07-30 18:28] makella commented on #160
I'm assuming that over the next six months these things are going to be sorted out? Since it is going to be released for quiet some time think of this as a style and a pattern to move forward integrating more and better data into park boundaries.  There are a lot of things that can be improved in terms of carto attributes in Places so hoping this will get better over time.  Maybe we should start a

[2015-07-30 18:30] makella commented on #160
And no, there isn't any special symbology for one-way roads. I'm not even sure if that is in the attributes we have in the Mapbox Studio datasource.  If there is a list to cross reference with I can take a look.

[2015-07-30 18:33] jimmyrocks commented on #160
The oneway tag isn't exposed in the source. I can just expose the entire
tag object so we don't need to make an issue and a separate column for each
attribute we want.

On Thu, Jul 30, 2015 at 12:28 PM, Mamata Akella <notifications@github.com>
wrote:

[2015-07-30 18:34] makella commented on #160
As far as I know, these are the attributes that are available in the data source.  I took all the trail types from Jake's Places Viewer map.

[code]

[2015-07-30 18:37] nateirwin commented on #160
Gotcha. Yeah, I totally understand this is a work-in-progress and we need to improve the data/data source first and foremost. I was really just asking because I was curious.

[2015-07-30 18:40] jimmyrocks commented on #160
I can add a JSON object called "tags" and that should take care of most of the other attributes we need

Currently the SQL in mbstudio is:
[code]

[2015-07-31 00:44] johnpauls commented on #160
@makella

Thanks for the explanation - I will move over the issues next week.

I don't fully understand all the issues  being discussed, but I can see a potential drawback to the idea of using only (or mostly) Places inside the boundaries and OSM outside. The current park boundaries are the legislative boundaries rather than the fed-fee boundaries (land the NPS actually owns/manages).  In some par

[2015-07-31 13:21] makella commented on #160
@johnpauls
Thanks for your thoughtful insight!  Over time what has been happening is that parks are providing us with the boundaries they want on public facing maps.  When we get those we replace the lands boundaries with the ones that we get from parks.  You bring up an interesting point about legislative boundaries that we have discussed several times internally.  We do have plans to spend more

[2015-07-31 13:32] makella commented on #160
@johnpauls you can follow progress on the boundary issues you pointed out here: https://github.com/nationalparkservice/places-data/issues/87

@ryanjhodge I've separated your issues out:
https://github.com/nationalparkservice/places-data/issues/88
https://github.com/nationalparkservice/places-data/issues/89
https://github.com/nationalparkservice/places-data/issues/90
https://github.com/nationalpark

[2015-07-31 15:36] makella commented on #162
Hello All,

I've updated Park Tiles 2 with the changes above and some additional ones.  Please review if you have time:

http://www.nps.gov/maps/full.html?mapId=fcca1ee6-a010-4c7f-ae42-deafb351f77d

Thanks,
mamata

[2015-07-31 20:07] ryanjhodge commented on #160
@makella Thanks for separating those issues out.

@johnpauls Keep in mind that you can customize Park Tiles to fit your needs. The map can be "exploded" out into individual layers, e.g. boundaries, surface water, terrain, park labels, etc.  You can create a composite of these individual layers in any order.  It's just a matter of comma delimiting the mapbox id's of the individual layers together.

[2015-08-01 01:03] nateirwin commented on #160
Hi @johnpauls: Can you give us a specific example to demonstrate the issue you outlined?

[2015-08-01 01:18] ryanjhodge commented on #160
@nateirwin @johnpauls
We worked through an example of that situation #120
Theres a screenshot of the legislative boundaries there (from irma) that shows hualapai land (the section south of GRCA) being part of Lake Mead.

[2015-08-03 13:46] johnpauls commented on #160
@nateirwin   Here are a couple of examples.

Here is Piscataway Park in Maryland from our GIS (may not be the most current data):

![image](https://cloud.githubusercontent.com/assets/5996979/9038071/6cdec2e4-39bf-11e5-91e9-7fb2a5b62d84.png)

Green is NPS owned, the areas in yellow are mostly private homes with a scenic easement and a few farms.  Large parts of the are consists of private homes on

[2015-08-05 17:10] nateirwin commented on #162
I think this looks great, @makella! No concerns on my part.

[2015-08-05 17:15] makella commented on #162
ok, great.  one thing that i've been playing around with this morning in the blri map is refining place labeling a little more but maybe i'll just implement that in 3 or someone else can do that later on.

before release:
- clean up the project
- adjust the poi layer to reflect the new labeling in this map
i would also like to:
- apply the styling to slate and imagery which has its own set of ripp

[2015-08-05 17:21] nateirwin opened #163 "Release Park Tiles 2.1.0"
Before release:

- [x] clean up the project
- [x] adjust the poi layer to reflect the new labeling in this map
- [x] apply the styling to slate and imagery which has its own set of ripple down effects of other maps that need to be updated
- [x] make sure all POI layers have interactivity set
After release:

- [x] blog post
- [x] tweet

[2015-08-05 17:22] nateirwin commented on #162
Cool, I just created a new issue to track the release: https://github.com/nationalparkservice/park-tiles/issues/163.

[2015-08-05 17:27] jakecoolidge commented on #162
I echo Nate's comment since the design decisions adhere closely to those in Park Tiles 3. A key difference is the use of OSM data within park boundaries, but I'm not detecting any conflicts or problems as a result. Instead, it reads more cohesively at large scales because it does not integrate Places roads/trails and buildings/parking lots.

[2015-08-05 17:33] makella commented on #162
I also:
- removed the shadows from the roads
- adjusted the building color
- added airport icons
- adjusted place labeling order and color
- ummmm and other small things

[2015-08-05 17:34] makella commented on #162
@jakecoolidge thanks for the comments! yeah, just the regular pattern only with some carto enhancements

[2015-08-05 17:36] jakecoolidge commented on #162
Overall the "volume is turned down"; just a little bit. I think it's a good direction. It's a little more subtle but still legible, and continues to prioritize NPS features (naturally).

[2015-08-06 19:19] makella commented on #123
this is fixed.

[2015-08-07 20:44] jakecoolidge commented on #161
completed for slate, imagery, fused, and sound mapping projects

[2015-08-07 20:44] #161 closed

[2015-08-07 20:46] jimmyrocks commented on #161
Thanks! This will keep all the POI stuff in one spot!

On Fri, Aug 7, 2015 at 2:44 PM, Jake Coolidge <notifications@github.com>
wrote:

[2015-08-12 18:37] makella commented on #161
Can someone write down all of the mapbox id's that we are supposed to be using in the maps?  Once everything is updated, we should go through mapbox.com and do a lot of cleaning up.

[2015-08-13 16:16] jimmyrocks commented on #161
This specific issue is in reference to:
**nps.nps-places-data**

Once this issues is closed that should mean that nps.places_poi  is ready to be removed.

The only other mapbox datasource that I update is:
**nps.nps-places-boundaries**

That is the datasource used to build the boundaries, and it was last updated in April. Although that data source will get updated when [this issue](https://github.

[2015-08-14 21:25] makella commented on #163
I've finished up 2.1 redesigns for Park Tiles Fused, Park Tiles Imagery, and Park Tiles Slate. In addition, I've updated each map's POI overlay.

You can view the maps with their POI overlays using the URLs below (they are all in the mapbox-studio-projects repo in their respective park tiles directories in a 2.1 folder).

Fused:
http://www.nps.gov/maps/full.html?mapId=fcca1ee6-a010-4c7f-ae42-deafb

[2015-08-14 21:25] makella commented on #162
Closing.

[2015-08-14 21:25] #162 closed

[2015-08-14 21:40] makella commented on #161
I think I've updated the maps that I need to.

For @mtaylorlong these are the layers in each one of the mapbox vector tile data sources that @jimmyrocks mentions above:

__nps.nps-places-boundaries__:
- `#nps_park_polys`
- `#nps_park_points`
- `#nps_park_line` (Appalachian Trail only)
- `#nps_park_labels`
- `#nps_park_labels_15`

__nps.nps-places-data__:
- `#nps_places_roads_and_trails`
- `#nps_pl

[2015-08-18 16:01] mtaylorlong commented on #163
I found one *incredibly minor* discrepancy (it may even be intentional): The Slate map is set to maxzoom 22 where the Fused and Imagery have maxzoom 21. @makella: is there a particular reason for this?

[2015-08-18 16:04] makella commented on #163
Just an oversight... no biggie.  Also, in Builder our maps only display to zoom 19. Styles are so fast to upload so we just go all the way!

[2015-08-18 16:11] nateirwin commented on #163
About the 2.0 vs. 2.1 map ids, I say we update the existing ones. That ensures all Builder maps using Park Tiles get upgraded. Unless you see a need to preserve 2.0?

[2015-08-18 16:12] makella commented on #163
I can't see any reason why we need to... always nervous to override things but the projects are there in the repo if we need to revert.  I'm good with that.

[2015-08-18 16:13] nateirwin commented on #163
:+1:

[2015-08-18 17:24] mtaylorlong commented on #163
Adding to the checklist:
- [ ] Mamata save 2.1 tiles over existing 2.0 map id's
- [ ] Mamata publish old 2.0 tiles with new map id's
- [ ] @makella send @nateirwin new 2.0 id's for the compare tool
- [ ] @mtaylorlong updates readme files in mapbox-studio-projects repo
- [ ] Taylor takes new screenshots of park tiles 2.1 for use in builder
- [ ] Taylor goes through site to see if there are any othe

[2015-08-18 17:41] makella commented on #163
@nateirwin here are the updated id's for the compare viewer that we want to add in the announcement blog post:

__Park Tiles 2.0__
- Fused Map: nps.80b07a46
- Fused POI: nps.6535e533
- Imagery map: nps.b8902d58
- Imagery POI: nps.be61ce22
- Slate map: nps.3f21333e
- Slate POI: nps.779a58cf

__Park Tiles 2.1__
- Fused Map: nps.2yxv8n84
- Fused POI: nps.jhd2e8lb
- Imagery map: nps.gdipreks
- Imagery

[2015-08-18 18:03] nateirwin commented on #163
You all ok if I just link to the current compare interface? http://www.nps.gov/npmap/tools/park-tiles/compare/? I think it'll be hard to pare that interface down so it works well in the body of a blog post.

[2015-08-18 18:07] makella commented on #163
I think the structure is OK... I was hoping to have the 2.0 Park Tiles, Imagery, and Slate maps with their POIs on the left and the 2.1 versions on the right.

I don't think we need all the other map services for comparison unless that is written out in the blog post...

[2015-08-18 18:11] nateirwin commented on #163
Humm... I was hoping to keep one unified interface. Mainly because I think it is really cool to be able to compare Park Tiles to other base maps, and I think it drives the whole point of Park Tiles home.

How about this: I take out Park Tiles 3 (for now), move the new Park Tiles 2.1 (with fused, imagery, and slate) to the left-hand side?

[2015-08-18 18:35] makella commented on #163
I think the blog post needs to reflect that then.  Also, the other basemaps are more meant to show that the NPS has better data, right?  At this point, we aren't really using much NPS data so basically our map will look like the Mapbox map.

[2015-08-18 18:36] makella commented on #163
I'm fine with either way, really.  I guess the other basemaps can show that we have our own style and where OSM data is better, the ones that don't use it will show that.

[2015-08-18 19:02] makella commented on #160
@nateirwin the id's that were driving Park Tiles 3 in the compare tool are no longer available because I went through mapbox.com and deleted a bunch of test styles.  To get Park Tiles 3 to draw, you'll want to use the following:  `nps.dd9c9778,nps.816a5255,nps.9546ad31`

[2015-08-18 20:27] nateirwin commented on #160
Thanks, switching now...

[2015-08-18 22:02] nateirwin commented on #163
Pull request here: https://github.com/nationalparkservice/npmap-website/pull/60.

[2015-08-19 19:42] nateirwin commented on #163
Blog post out and compare tool updated. Three more items for @mtaylorlong, then we can close this issue.

[2015-08-19 20:46] jcant624 commented on #163
Looking through Park Tiles 2.1, I noticed an error with a park label. Buck Island shows as "Buck Island Reef BUIS" instead of "Buck Island Reef NM". Thanks for adding marine boundaries. Looks great.
![capture](https://cloud.githubusercontent.com/assets/6653544/9368543/108c704e-4681-11e5-9fbb-08feb7588527.JPG)

[2015-08-19 20:51] makella commented on #163
@jcant624 thanks for pointing this out!
I'm moving this issue to places-data.  You can follow progress here: https://github.com/nationalparkservice/places-data/issues/110

[2015-08-19 20:55] mtaylorlong opened #164 "Cut-off park label: Hubbell Trading Post NHS"
In Park Tiles 2.1 (all versions), the label for Hubbell Trading Post NHS is cut off almost completely at z7.

<img width="380" alt="screen shot 2015-08-19 at 2 39 21 pm" src="https://cloud.githubusercontent.com/assets/4741443/9368625/99d7619c-4681-11e5-97c0-922b52284895.png">

The point fall just within the tile, but since the name is long and ldir='W', it's running way off the tile (I think). Cou

[2015-08-19 21:39] makella commented on #164
I am pretty sure this was an oversight on my part when we were first building Park Tiles with TileMill 2. Several months after we had released, Mapnik got upgraded to version 3 in Studio and we weren't aware of it.  I wrote AJ about several labeling issues that arose with the upgrade and addressed many of them it looks like I didn't do the Hubbell Trading Post fix.

From AJ (emailed on 10/24/14):

[2015-08-20 15:00] avawser opened #165 "Park Boundary"
Park boundary for Wind Cave NP in South Dakota is the old boundary. Ca. 5500 acres were added in 2011.

[2015-08-20 15:06] makella commented on #165
@avawser thanks for letting us know! Do you have an updated boundary you can send us? Also, moving this issue to places-data where we track boundary updates:
https://github.com/nationalparkservice/places-data/issues/111

You can respond there!

[2015-08-20 15:09] makella commented on #165
closing here because issue is moved to places-data

[2015-08-20 15:09] #165 closed

[2015-08-20 15:16] avawser commented on #165
We have a boundary that includes the new land but I'm not sure where we got it. I would check first with the MWR lands office to see what they have. If they don't have it we'll provide what we have.

[2015-08-20 15:18] makella commented on #165
Ok, great.  You can follow progress of this issue at: nationalparkservice/places-data#111

mamata

[2015-08-21 02:42] makella commented on #160
closing. added both @ryanjhodge and @johnpauls boundary and labeling issues to places-data

[2015-08-21 02:42] #160 closed

[2015-08-21 16:28] nateirwin commented on #163
Rolling this out here shortly. Good job, everybody!

[2015-08-21 16:28] #163 closed

[2015-08-21 18:48] makella opened #166 "Upgrade to Mapbox Streets v6"
This is still in draft mode but we'll need to look into migrating all of our maps from Streets V5 to Streets V6.

https://gist.github.com/ajashton/f5b6010c17a685def73b

[2015-08-21 18:50] makella opened #167 "Test out different methods for serving smaller map tiles"
We need to do some testing to see if there is a different image format we can publish our tiles for people using our maps with slower connections.

[2015-08-26 16:52] nateirwin commented on #155
@jakecoolidge: This is still one I think we should spend some more time on. It would be great to come up with a list of "bookmarks" that we use to spot check changes and new versions of Park Tiles.

Cc/ @mtaylorlong

[2015-08-26 16:54] nateirwin opened #168 "Cut-off park label: Chickamauga & Chattanooga NMP"
![img_1788](https://cloud.githubusercontent.com/assets/10443/9500113/d0843d0a-4be0-11e5-9199-f0ee8aefacbc.PNG)

[2015-08-26 16:55] nateirwin commented on #168
Related to #164

[2015-08-26 16:56] nateirwin commented on #147
Moved to npmap-website and moved here: https://github.com/nationalparkservice/park-tiles/issues/147.

[2015-08-26 16:56] #147 closed

[2015-08-26 16:58] nateirwin commented on #153
Hopefully this will be fixed with the new park boundary update, @jimmyrocks?

[2015-08-26 17:01] nateirwin commented on #129
Moving this to the places-data repository: https://github.com/nationalparkservice/places-data/issues/114.

[2015-08-26 17:01] #129 closed

[2015-08-26 17:23] jakecoolidge commented on #155
I'll take a look at this and have an initial list by the end of the week (really).

[2015-08-26 18:02] ryanjhodge commented on #120
@jimmyrocks

Last night I realized that half of the shivwits plateau polygon was accidentally left out. At the time, I did not realize that it was split up into two polygons, so I must have caused some confusion when I said "the _polygon_ north of GRCA" instead of _polygons_.

See the screenshots below:
Currently on Park Tiles:
![capture](https://cloud.githubusercontent.com/assets/4172213/9501730/

[2015-08-27 18:04] jakecoolidge commented on #155
I've started a list of bookmarks on our scratch wiki, have a look [here.](https://github.com/nationalparkservice/npmap-scratch/wiki/Bookmarks-for-Places-and-Park-Tiles)

Let me know if this is a good place to house this information, and also if there are areas I should add. I hope to grow this list over time, and I encourage everyone else to do so as well.

[2015-08-31 23:06] jakecoolidge opened #169 "POI symbols are filled with black on Fused and Imagery"
I'm currently working with Mapbox support on this. They have a copy of our tm2 file and are looking into it. The style renders normally in Studio, but the svg colors and transparencies are obliterated once hosted on Mapbox. Why Slate is working is a mystery, but might also point to a solution.

[2015-09-01 15:36] makella commented on #169
@jakecoolidge i checked the mobile maps that use svgs.  the parking icon in the Fort Smith map needs to be updated.  All of the other svgs seem to be ok.  The FOSM mobile map is complicated in its construction but if you just replace the parking icon in the img folder and make sure it has the same name that should be sufficient and then you can republish the map.

Also might be a good idea to go t

[2015-09-01 19:15] jakecoolidge commented on #169
Thanks, @makella. I went through everything in our repo and made the necessary corrections.

[2015-09-08 23:33] mtaylorlong opened #170 "YELL Live: Incorrect state labels along borders"
A visitor at Yellowstone pointed out that our YELL Live maps in the kiosks are showing incorrect labels for states. The labels in question are the ones that appear on either end of the grey dotted border between states. These labels were custom designed and placed so we should be able to update the data source to fix the issue. @mtaylorlong will take the first crack at it.

![screen shot 2015-09-0

[2015-09-09 18:46] mtaylorlong commented on #170
I've looked into the Mapbox project to identify the moving parts here. Oddly enough, the labels are correctly placed when you look at the project through Mapbox Studio. All the styles seem to be correctly written as well. All this is to say that the problem likely did not exist until recently, and probably has something to do with a Mapbox update interpreting our existing styles differently. The p

[2015-09-09 23:20] mtaylorlong commented on #170
I contacted Mapbox and Rafa got back to me with this info:

To answer your question - yes, this was an update that went out and affected some values in Mapnik. I apologize for this and we're changing how we time these kinds of updates to avoid this in the future. The solution at the moment will be to use positive values for your offset. It will look backwards in Studio until you upgrade to the lat

[2015-09-10 15:06] mtaylorlong commented on #170
As of Thursday, September 10, the Yellowstone Live - Roads tiles seem to be showing state labels correctly. I'm considering this issue resolved.

Screenshot of correct labels showing today:
![screen shot 2015-09-10 at 9 05 46 am](https://cloud.githubusercontent.com/assets/4741443/9792005/30345544-579b-11e5-8325-15ab47770e22.png)

**Note**: If anyone can think of other labels along lines out there

[2015-09-10 15:06] #170 closed

[2015-09-15 15:28] jakecoolidge opened #171 "Support "unknown roads" in Park Tiles 3"
Primarily for documenting seeding efforts. When seeding roads where the type is not known, we switched our classification from unclassified to unknown ("highway":"road"). These unknown roads currently aren't symbolized in Park Tiles 3, so they disappear. This should be an easy fix.

[2015-09-15 15:34] jakecoolidge commented on #171
completed

[2015-09-15 15:34] #171 closed

[2015-09-24 17:26] mtaylorlong opened #172 "Building Offset in Park Tiles Mobile - Overlay"
I've discovered a peculiar error I can't seem to explain in FOSC. There are two buildings in the middle of the park that seem to be shifted to the Northeast. What's odd is that it's only these two buildings – all the others around it seem to be in the right place. The shift shows in our Park Tiles Mobile Overlay style, but not in Places Editor (it looks perfect there). This makes me think there's

[2015-09-24 18:33] #172 closed

[2015-10-08 17:01] tpcolson commented on #151
Spoke with Matt Robinson, we're going to get the two "versions" to be synced and the same.

[2015-10-29 00:46] nateirwin commented on #155
Was going through some old notes and saw a note about supporting v1 of Park Tiles in the compare tool. Don't know if this is possible, but thought I'd plop it down here so I don't lose the thought.

[2015-11-02 14:33] nateirwin opened #173 "Prototype display of administrative (non-legislative) boundaries"
From Angie:

- AKR Land Status
    - Private land
    - Private ANCSA Native land
- Alaska Unit Boundary
    - Park boundaries
    - Preserve boundaries
    - Monument boundaries
- Alaska Parks Wilderness
    - Wilderness boundaries

These are all extremely important to Alaska and directly affect the way the public recreates and the activities allowed in areas of our parks.

I created and uploaded

[2015-11-02 18:10] nateirwin opened #174 "GOGA not labeled"
Some feedback from the NPS.gov public comment form:

[2015-11-02 19:12] jimmyrocks commented on #174
The GOGA label was specifically removed from the map on April 30, 2014
because of conflicts with smaller nearby parks. This should be address in
Park Tiles 3.

On Mon, Nov 2, 2015 at 1:10 PM, Nate Irwin <notifications@github.com> wrote:

[2015-12-22 14:59] nateirwin opened #175 "Campground symbols do not render consistently"
Moved here from: https://github.com/nationalparkservice/places-data/issues/341

At seeming odd levels and extents, campground symbols turn on and off. Campgrounds, arguably more cartographically significant than parking spaces and trailheads, should be symbolized clearly and consistently.

![](https://cloud.githubusercontent.com/assets/5861784/11955838/4abe679a-a883-11e5-8462-28c965ae29d1.png)

![

[2015-12-22 15:20] cwlawlis802 commented on #174
This is being addressed here https://github.com/nationalparkservice/places-data/issues/240, including label points for all subunits and GOGA.

[2016-01-08 18:23] nateirwin opened #176 "Render railroad ways"
Railroads are critical features for many parks - especially historic parks (Civil War battlefields, etc.). We should render them before the final release of PT3.

A good example is Steamtown National Historic Site:

http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=19.74/-75.67159/41.40931
http://insidemaps.nps.gov/park-tiles-3/#18/41.40831/-75.67013

Cc/ @mtaylorlong

[2016-01-08 18:27] mtaylorlong commented on #176
I've been tracking PT3 issues in the places-data repo since many of them are intertwined with rendering (and since that repo is public). Do you think I should be tracking more of them here, or should we move this issue over to that repo?

[2016-01-08 18:28] mtaylorlong commented on #176
I actually would love to track PT3 issues here. They just wouldn't be public since we don't want to expose the code behind our styles.

[2016-01-08 18:31] nateirwin commented on #176
Humm, yeah it would be nice to make these issues public. But we don't want to expose some things for sure. Whatever you think is best...

[2016-01-08 18:38] mtaylorlong commented on #176
I think it still makes sense to track them in the places-data repo and keep them organized with the park-tiles-3 tag. That way, when people give us feedback, I can send them links to the issue to track our progress.

[2016-01-08 21:52] mtaylorlong commented on #176
Moved issue to places-data repo: https://github.com/nationalparkservice/places-data/issues/365

[2016-01-08 21:52] #176 closed

[2016-01-13 19:35] cwlawlis802 commented on #116
This will be addressed by the NCR boundary replacement here https://github.com/nationalparkservice/places-data/issues/347.

[2016-01-13 19:36] cwlawlis802 commented on #117
This will be addressed by the NCR boundary replacement here https://github.com/nationalparkservice/places-data/issues/347.

[2016-02-26 20:55] regan-sarwas opened #177 "Add Private In-holdings"
Unlike a fixed scale printed map with notes in the margin (i.e. HF Brochures), a web map (i.e. Park Tiles) can easily mislead a user who zooms into areas of private property within a park boundary.  A disclaimer is good, but easy to miss.  A polygon overlay with a clear "do not go here" symbology for private inholdings would be a great improvement.

[2016-03-01 16:25] mtaylorlong commented on #177
Hi Regan. I saw that you opened a duplicate issue in the places-data repo for this. Since places data and park tiles are so intertwined (and since the park-tiles repo is private) we're tracking all these issues in the places-data repo. I'm closing this issue so we can track it in places-data.

[2016-03-01 16:25] #177 closed

[2016-07-05 19:08] cwlawlis802 commented on #155
Are we good to close here @nateirwin @jakecoolidge? Looks like we have PT2 and 2.1 along with external map sources comparable to PT3 here: https://www.nps.gov/npmap/tools/park-tiles/compare/?v=3#4/39.06/-95.98.

The only thing still missing is the POI overlay in the PT3 side of the viewer.

[2016-07-05 19:21] nateirwin commented on #155
I think we're good, other than the POI overlay. Definitely need to add that.

[2016-07-05 20:25] #174 closed

[2016-07-05 20:28] cwlawlis802 commented on #164
Are we good to close out here @mtaylorlong? The issue is no longer persisting.

[2016-07-05 20:28] cwlawlis802 commented on #168
Are we good to close out here @nateirwin @mtaylorlong? The issue is no longer persisting.

[2016-07-05 20:30] nateirwin commented on #168
Sure

[2016-07-05 20:30] cwlawlis802 commented on #155
The POI overlay is being tracked here https://github.com/nationalparkservice/npmap-website/issues/120 so I'm going to close this out.

[2016-07-05 20:30] #155 closed

[2016-07-05 20:36] cwlawlis802 commented on #111
We are now able to do this with our new approach to park labels. We have been creating issues for units that would benefit from multiple labels, given distributed/spread out areas, which you can view a list of here: https://github.com/nationalparkservice/places-data/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Alabeling%20add%20custom%20labels.

[2016-07-05 20:36] #111 closed

[2016-07-05 20:38] cwlawlis802 commented on #153
This issue does not seem to be persisting - closing.

[2016-07-05 20:38] #153 closed

[2016-07-05 20:39] #159 closed

[2016-07-05 20:40] #166 closed

[2016-07-05 20:40] cwlawlis802 commented on #149
Is this something we are still looking to pursue @nateirwin?

[2016-07-05 20:40] cwlawlis802 commented on #167
Is this something we are still looking to pursue @nateirwin?

[2016-07-05 20:41] #168 closed

[2016-07-05 20:43] cwlawlis802 commented on #175
This no longer persists given the use of the POI overlay.

[2016-07-05 20:43] #175 closed

[2016-07-05 20:44] cwlawlis802 commented on #12
Is this something we are still looking to pursue @nateirwin?

[2016-07-06 15:27] nateirwin commented on #12
Yeah, but I honestly don't know a good path forward. Coastlines are hard.

Maybe this isn't realistic at this point, given the current state of data available?

Thoughts, @mtaylorlong?

[2016-07-06 15:28] nateirwin commented on #167
At this point, probably not. We'll (hopefully) be switching to vector tiles for our mobile apps sometime soon'ish, and that should help with this. I'll go ahead and close.

[2016-07-06 15:28] #167 closed

[2016-07-06 15:29] nateirwin commented on #149
Yes, for sure! This is actually part of the exercise we're currently going through related to rethinking how we architect Park Tiles and its derivatives.

[2016-07-06 16:31] mtaylorlong commented on #164
👍

[2016-07-06 16:31] #164 closed

[2016-07-06 17:07] mtaylorlong commented on #12
I imagine this would be difficult to pull off. Theoretically, it's doable, but I'm not sure how well it will match up with other OSM features, so it might create as many new problems as it solves. I would suggest we tackle using NPS water data inland before we attempt it at the coasts.

[2016-07-06 17:11] nateirwin commented on #12
Sounds good, going to close this for now.

[2016-07-06 17:11] #12 closed